<a href="https://colab.research.google.com/github/olujerry/olujerry/blob/main/Stroke_Prediction_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

In [113]:
# loading the stroke dataset to a pandas DataFrame
stroke_dataset = pd.read_csv('/content/Stroke_detection.csv')

In [114]:
# printing the first 5 rows of the dataset
stroke_dataset.head()

      id   age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0   9046  67.0             0              1             228.69  36.6       1
1  51676  61.0             0              0             202.21  33.5       1
2  31112  80.0             0              1             105.92  32.5       1
3  60182  49.0             0              0             171.23  34.4       1
4   1665  79.0             1              0             174.12  24.0       1

In [115]:
#stroke_dataset.drop(['gender','ever_married','work_type','Residence_type','smoking_status'], axis=1)

In [116]:
stroke_dataset.head()

      id   age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0   9046  67.0             0              1             228.69  36.6       1
1  51676  61.0             0              0             202.21  33.5       1
2  31112  80.0             0              1             105.92  32.5       1
3  60182  49.0             0              0             171.23  34.4       1
4   1665  79.0             1              0             174.12  24.0       1

In [117]:
# number of rows and Columns in this dataset
stroke_dataset.shape

(5110, 7)

In [118]:
# getting the statistical measures of the data
stroke_dataset.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,29.074442,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.749940,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.800000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.400000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.500000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [119]:
stroke_dataset['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

0 --> Stroke Free

1 --> Stroke patient

In [120]:
stroke_dataset.groupby('stroke').mean()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
stroke,,,,,,
0,36487.236371,41.971545,0.088871,0.047110,104.795513,28.977967
1,37115.068273,67.728193,0.265060,0.188755,132.544739,30.957831

In [121]:
# separating the data and labels
X = stroke_dataset.drop(columns = 'stroke', axis=1)
Y = stroke_dataset['stroke']

In [122]:
print(X)

         id   age  hypertension  heart_disease  avg_glucose_level   bmi
0      9046  67.0             0              1             228.69  36.6
1     51676  61.0             0              0             202.21  33.5
2     31112  80.0             0              1             105.92  32.5
3     60182  49.0             0              0             171.23  34.4
4      1665  79.0             1              0             174.12  24.0
...     ...   ...           ...            ...                ...   ...
5105  18234  80.0             1              0              83.75  33.5
5106  44873  81.0             0              0             125.20  40.0
5107  19723  35.0             0              0              82.99  30.6
5108  37544  51.0             0              0             166.29  25.6
5109  44679  44.0             0              0              85.28  26.2

[5110 rows x 6 columns]

In [123]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

Train Test Split

In [124]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [125]:
print(X.shape, X_train.shape, X_test.shape)

(5110, 6) (4088, 6) (1022, 6)

Training the Model

In [126]:
classifier = svm.SVC(kernel='linear')

In [127]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [128]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [129]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9452054794520548

In [130]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [131]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.9403131115459883

Making a Predictive System

In [133]:
input_data = (9046,	67.0,	0,	1,	228.69,	36.6)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('This person does not have stroke')
else:
  print('The person has stroke')

[0]
This person does not have stroke

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

Saving the trained model

In [134]:
import pickle

In [135]:
filename = 'stroke_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [136]:
# loading the saved model
loaded_model = pickle.load(open('stroke_model.sav', 'rb'))

In [137]:
input_data = (9046,	67.0,	0,	1,	228.69,	36.6)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('This person does not have stroke')
else:
  print('The person has stroke')

[0]
This person does not have stroke

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [138]:
for column in X.columns:
  print(column)

id
age
hypertension
heart_disease
avg_glucose_level
bmi